* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #111;
}

input {
    width: 300px;
    margin: 8px;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

input.error {
    background: #ff6767;
}

button {
    margin: 8px;
    padding: 8px 16px;
    font-size: 1.2em;
    border: none;
    border-radius: 8px;
}
