/*
 * Necessary styles
 */
main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.cell-row {
    display: flex;
    flex: 1;
}

.cell {
    border: 1px solid black;
    height: 100%;
    flex: 1;
    scale: 1;
    transition: background-color 0.2s, scale 0.1s;
}

/*
 * Additional unnecessary styles
 */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
}

.tip {
    position: fixed;
    z-index: 3;
    padding: 8px 12px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}